<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Всем привет меня зовут Богдан, мне 16 лет. Хочу стать настоящим, профессиональным программистом.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <ul>
            <li><a href="https://github.com/Fizik05/">My GitHub</a></li>
            <li><a href="https://vk.com/brgbrgbrgb">My VK</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}